<h1>Profile of {{currentUser.username}}</h1>

<div class="cards-container">

  {{#each sofas}}
    <div class="sofa-card">

      <h2>{{title}}</h2>
      <img src="{{picture}}" alt="" />
      <p>{{description}}</p>
      <a href="/sofas/{{_id}}">Sofa Details</a>

    </div>

  {{/each}}
</div>