<h1>{{oneSofa.title}}</h1>
<h2>{{oneSofa.owner.username}}</h2>

{{#if userIsOwner}}
  <a href="/sofas/{{oneSofa._id}}/edit">Edit</a>

  <form action="/sofas/{{oneSofa._id}}/delete" method="post">
    <input type="submit" value="Delete" />
  </form>
{{/if}}

<img src="{{oneSofa.picture}}" alt="" />

<div>{{oneSofa.description}}</div>