<div class="cards-container">

  <h1>{{oneSofa.title}}</h1>
  <h2>{{oneSofa.owner.username}}</h2>

  {{#if userIsOwner}}
    <a href="/sofas/{{oneSofa._id}}/edit">Edit</a>

    <form action="/sofas/{{oneSofa._id}}/delete" method="post">
      <input type="submit" value="Delete" />
    </form>
  {{/if}}

  <img src="{{oneSofa.picture}}" alt="" />

</div>

<ul>

  <li> {{oneSofa.description}}</li>
  <li>{{oneSofa.owner.email}}</li>
  <li>{{oneSofa.owner.phonenumber}}</li>
  <li>{{oneSofa.owner.postCode}}</li>

</ul>