<h1>{{oneSofa.title}}</h1>

<a href="/sofa/{{oneSofa._id}}/edit">Edit</a>

<form action="/sofa/{{oneSofa._id}}/delete" method="post">
  <input type="submit" value="Delete" />
</form>

//to validate:

<div>{{oneSofa.picture}}</div>

<div>{{oneSofa.description}}</div>

// user info ??
