<h2>{{oneSofa.title}}</h2>
<div class="cards-container">
  <div class="sofa-card">

    <img src="{{oneSofa.picture}}" alt="" />

    {{#if userIsOwner}}
      <a href="/sofas/{{oneSofa._id}}/edit">Edit</a>

      <form action="/sofas/{{oneSofa._id}}/delete" method="post">
        <input type="submit" value="Delete" />
      </form>
    {{/if}}

  </div>
</div>

<div class="details">

  <ul>

    <li>Owner-Name:{{oneSofa.owner.username}}</li>
    <li>Description:{{oneSofa.description}}</li>
    <li>Email:{{oneSofa.owner.email}}</li>
    <li>PhoneNumber:{{oneSofa.owner.phonenumber}}</li>
    <li>PostCode:{{oneSofa.owner.postCode}}</li>

  </ul>
</div>